.bicicletas-bg:nth-child(odd) {
  background: linear-gradient(to right, var(--w) 30%, var(--c11) 0%);
}

.bicicletas-bg:nth-child(4) {
  margin-bottom: 60px;
}

.bicicletas-bg:nth-child(2) {
  margin-top: 60px;
}

#bicicletas-magic{
  margin-bottom: 20px;
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem > span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 24px;
  background: var(--bg5);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  transition: transform 0.3s;
}

.bicicletas-imagem:hover span {
  transform: translateX(-2px);
  background: inherit;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  align-content: start;
}

.bicicletas-conteudo > a {
  place-self: end;
  width: max-content;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1 / -1;
}

.bicicletas-conteudo h2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bicicletas-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background: var(--pgrad);
  margin-bottom: 16px;
}

.bicicletas-conteudo h2:hover::before{
  transform: rotate(180deg);
  transition: .8s;
}

.bicicletas-conteudo p {
  margin-bottom: 32px;
  width: 52ch;
}

.bicicletas ul {
  width: fit-content;
}

.bicicletas li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas li + li {
  margin-top: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .bicicletas-bg:nth-child(odd) {
    background: var(--c11);
  }
  .up{
    text-transform: uppercase;

  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicletas-bg:nth-child(4) {
    margin-bottom: 0px;
  }
  .bicicletas-bg:nth-child(2) {
    margin-top: 0px;
  }
  .bicicletas p {
    width: auto;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas a {
    place-self: start;
    font-size: 0.9rem;
  }
  .bicicletas ul {
    font-size: 1rem;
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bicicletas li {
    width: max-content;
    height: max-content;
  }
  .bicicletas li + li {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .bicicletas-conteudo p {
    font-size: 1rem;
  }
  .bicicletas-conteudo h2 {
    font-size: 2rem;
  }
  .bicicletas-imagem > span {
    font-size: 0.8rem;
    margin-top: 8px;
  }
}
