/* BOTAO */
.botao{
  display: inline-block;
  color: var(--p5);
  padding: 16px 32px;
  background: linear-gradient( #FFC800, #F2A60D);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}
.botao:hover{
  background: linear-gradient(#ffb60c, #e59311);
}
@media (max-width: 600px){
  .botao{
    padding: 12px 16px;
    font-size: 1rem;
  }
}
/* BOTAO */