.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bg6);
  overflow: hidden;
}

.depoimento p::before,
.depoimento p::after {
  content: "“";
  font-size: 6rem;
  color: var(--p3);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -62px;
  top: -30px;
}

.depoimento p::after {
  content: "”";
  bottom: -85px;
}

.conteudo-depoimento {
  padding: 100px 40px 80px 135px;
  align-self: center;
  background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 20px
    right 40px;
}

.conteudo-depoimento p {
  max-width: 26ch;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin-bottom: 32px;
  position: relative;
}

.conteudo-depoimento span {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}

.depoimento img {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
}

.conteudo-depoimento > blockquote span {
  display: none;
  font-size: inherit;
}

@media (max-width: 1450px) {
  .conteudo-depoimento p {
    font-size: 2.2rem;
  }
}
@media (max-width: 1375px) {
  .conteudo-depoimento p {
    font-size: 2rem;
  }
}
@media (max-width: 1245px) {
  .conteudo-depoimento p {
    font-size: 1.9rem;
    padding-left: 0;
  }
  .conteudo-depoimento span {
    font-size: 1.5rem;
  }
  .conteudo-depoimento {
    padding-left: 100px;
  }
}
@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}
@media (max-width: 830px) {
  .conteudo-depoimento p {
    font-size: 1.8rem;
    width: auto;
  }
}
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .conteudo-depoimento > blockquote span {
    display: inline;
  }
  .depoimento p::before,
  .depoimento p::after {
    display: none;
  }
  .conteudo-depoimento {
    padding: 60px 20px;
    justify-self: center;
    margin: auto;
  }
  .conteudo-depoimento p {
    font-size: 2rem;
    max-width: 45ch;
  }
  .conteudo-depoimento span {
    font-size: 1.5rem;
  }
  .depoimento img {
    max-height: 200px;
  }
}
@media (max-width: 735px) {
  .conteudo-depoimento p {
    font-size: 1.7rem;
    max-width: 45ch;
  }
  .conteudo-depoimento span {
    font-size: 1.3rem;
  }
  .depoimento img {
    max-height: 200px;
  }
}
@media (max-width: 655px) {
  .conteudo-depoimento p {
    font-size: 1.5rem;
    max-width: 45ch;
  }
  .conteudo-depoimento span {
    font-size: 1.2rem;
  }
  .depoimento img {
    max-height: 200px;
  }
}
@media (max-width: 400px) {
  .conteudo-depoimento {
    width: max-content;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .conteudo-depoimento p {
    font-size: 1.1rem;
    max-width: 37ch;
    margin-bottom: 10px;
    color: var(--p6);
  }
  .conteudo-depoimento span {
    font-size: 0.9rem;
    padding: 0;
  }
  .depoimento img {
    max-height: 150px;
  }
  .conteudo-depoimento {
    padding: 0px;
    align-self: center;
    background: none;
  }
}
/* @media (max-width: 375px) {
  .conteudo-depoimento {
    max-width: 40ch;
    margin-top: 40px;
    margin-bottom: 32px;
  }
} */
