/* INTRODUCAO - MAIN*/
.introducao-bg{
  background: var(--bg5) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--bg0);
}
.introducao{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}
.introducao-conteudo{
  align-self: end;
  padding-bottom: 200px;
}
.introducao h1{
  margin-bottom: 40px;
}
.introducao p{
  margin-bottom: 32px;
}
.introducao img{
  height: 100%;
  width: 100%;
}

/* RESPONSIVO MAIN*/
  @media (max-width: 800px){
    .introducao-bg{
      background-color: var(--bg4);
      padding-top: 40px;
      box-shadow: inset 0 -60px var(--bg0);
    }
    .introducao{
      grid-template-columns: 1fr;
      gap: 32px;
    }
    .introducao-conteudo{
      padding-bottom: 0px;
    }
    .introducao img{
      height: 300px;
      width: 100%;
    }
}
/* RESPONSIVO MAIN*/
/* INTRODUCAO - MAIN*/