.container.perguntas {
  position: relative;
}

.container.perguntas::after {
  position: absolute;
  content: "";
  background-image: url("../../img/dec/bottom-left.svg");
  width: 52px;
  height: 52px;
  bottom: 40px;
  left: -310px;
}

.perguntas {
  --padding: 120px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.perguntas h4 {
  margin-bottom: 60px;
}

.perguntas dl > div {
  padding: 20px 40px;
  border-radius: 4px;
}

.perguntas button {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas dd {
  max-width: 75ch;
}
.js .perguntas dd {
  display: none;
}
.js .perguntas dd.ativa {
  display: block;
}

.perguntas button::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  left: -25px;
  position: absolute;
  transition: 0.3s;
}

.perguntas button::after {
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--c1);
}

.perguntas button:hover::before {
  transform: rotate(180deg);
}
.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after{
  transform: rotate(180deg);
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .perguntas {
    --padding: 60px;
  }
  .perguntas h4 {
    margin-bottom: 60px;
  }
  .perguntas dd {
    max-width: auto;
  }
  .perguntas dt {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .perguntas button:hover::before {
    transform: rotate(90deg);
    transition: 0.1s;
  }
  .perguntas button::after{
    display: none;
  }
}

@media (max-width: 400px) {
  .perguntas h4 {
    margin-bottom: 40px;
    line-height: 1.4;
    position: relative;
  }
  .perguntas h4::after {
    content: "";
    position: absolute;
    background-image: url("../../img/dec/top-right.svg");
    width: 52px;
    height: 52px;
    top: 20px;
    right: 20px;
  }
}
